:root {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background: url("./assets/bg.png") no-repeat center center fixed;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,
button,
input,
select,
textarea {
  font-family: "Itim";
}

body {
  margin: 0;
  padding: 0;
}

body,
html,
#canvas {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  position: absolute;
  overflow: hidden;
  z-index: 90;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.generic-box {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #111;
  /* border-bottom: 4px solid rgba(0, 0, 0, 0.5); */
  border-radius: 4px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 13px 16px 17px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
