:root {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background: url("./assets/bg.png") no-repeat center center fixed;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,
button,
input,
select,
textarea {
  font-family: "Itim";
}

body,
html {
  margin: 0;
  padding: 0;
}

body,
html,
#root,
#canvas {
  width: 100%;
  height: 100%;
}

#canvas {
  overflow: hidden;
}
