.modal {
  .modal__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    h4 {
      font-size: 22px;
      margin: 15px 0 0;
    }

    p {
      line-height: 1.4em;
      color: rgba(255, 255, 255, 0.75);
    }

    .modal__content__socials {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 20px 0;

      a {
        width: 100%;
        text-decoration: none;
      }
    }
  }
}
