.loader__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  h4 {
    font-size: 18px;
    margin: 15px 0 0;
  }

  p {
    color: #ffffff70;
  }

  .loader__modal__animation {
    color: #ffffff70;
    box-sizing: border-box;
    display: inline-block;
    width: 80px;
    height: 80px;

    &:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6.4px solid currentColor;
      border-color: currentColor transparent currentColor transparent;
      animation: loader 1.2s linear infinite;
      box-sizing: border-box;
    }
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
