.room {
  border-radius: 16px;
  transition: transform 300ms, background-color 300ms;
  user-select: none;

  &:hover {
    transform: scale(1.02);
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  .room__header {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      height: 20px;
    }

    p {
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      user-select: text;
    }

    span {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.5);
      white-space: nowrap;

      &.status {
        font-size: 12px;
        margin-left: auto;
      }
    }
  }

  .room__players {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0 0;

    .room__player__sword {
      height: 16px;
      width: 16px;
    }

    .room__player,
    .room__player__empty,
    .room__join {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 28px;
      width: 28px;
      border-radius: 18px;
      border: 2px solid transparent;
      background-color: rgba(255, 255, 255, 0.1);

      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);
      }

      svg {
        fill: #fff;
        width: 12px;
        height: 12px;
      }

      p {
        font-size: 14px;
      }
    }

    .room__player__empty {
      border: 2px dashed rgba(255, 255, 255, 0.2);

      p {
        font-size: 22px;
      }
    }

    .room__join {
      width: auto;
      gap: 5px;
      padding: 0 16px;
      margin-left: auto;
      background-color: #2cb580;
      border-radius: 4px;
      // border: 2px solid #111;
      box-shadow: 4px 4px 0 #111;
      // text-shadow: 1px 1px 0 #000;

      &:hover {
        background-color: #2cb580;
        filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
      }
    }
  }
}
