.overlay {
  padding: 30px;

  &__leave {
    width: 50px !important;

    &__text {
      color: var(--text-color-secondary);
      line-height: 1.6em;
      margin: 0 0 20px;
      text-align: center;
    }

    &__buttons {
      display: flex;
      gap: 10px;
    }
  }

  &__logo {
    position: fixed;
    bottom: 30px;
    right: 30px;

    p {
      font-size: 20px;
      font-weight: 500;
      text-shadow: 1px 1px 2px #111;
      letter-spacing: 2px;
    }
  }

  &__reactions {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: opacity 300ms, transform 300ms;

    &.visible {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }

    &__segment {
      path {
        transition: fill 300ms;
      }
    }
  }

  &__goal {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;

    transition: opacity var(--animation-length),
      transform var(--animation-length);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    z-index: 1000;
    padding: 40px 0;
    opacity: 0;
    transform: translate(0, -50%) scaleY(0);
    transform-origin: center;
    pointer-events: none;

    p {
      color: var(--text-color-primary);
      font-size: 32px;
      font-weight: 500;
      line-height: 1.6em;
      letter-spacing: 60px;
      transition: letter-spacing 900ms;
      text-shadow: 1px 1px 8px #111;
    }

    &.visible {
      opacity: 1;
      transform: translate(0, -50%);

      p {
        letter-spacing: 3px;
      }
    }
  }

  &__end {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    opacity: 0;
    pointer-events: none !important;
    gap: 20px;
    transition: opacity var(--animation-length);

    &.visible {
      opacity: 1;
      pointer-events: auto;
    }

    &__title,
    &__team,
    &__score,
    &__buttons {
      animation: fadeInFromBottom 300ms;
      animation-fill-mode: backwards;
    }

    &__title {
      font-size: 16px;
      font-weight: 500;
      animation-delay: 300ms;
    }

    &__team {
      font-size: 24px;
      font-weight: 500;
      text-shadow: 1px 1px 2px #111;
      animation-delay: 600ms;
    }

    &__score {
      font-size: 36px;
      font-weight: 500;
      animation-delay: 900ms;
      text-shadow: 1px 1px 2px #111;
    }

    &__buttons {
      display: flex;
      gap: 20px;
      flex-wrap: nowrap;
      margin: 60px 0 0;
      animation-delay: 1200ms;

      button {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
