.game__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 91;
  padding: 20px;

  .game__overlay__button {
    border-radius: 16px;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 300ms;
    border: 2px solid #fff;

    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }

    svg {
      height: 22px;
      fill: #fff;
    }
  }
}
