.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 550px;
  margin: 0 auto;

  .logo {
    width: 400px;
    max-width: 100%;
    user-select: none;
    margin-bottom: 30px;
    transition: transform 300ms, filter 300ms;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      filter: brightness(1.1);
      -webkit-filter: brightness(1.1);
    }
  }

  .description {
    font-size: 1.2rem;
    line-height: 1.4em;
    text-align: center;
  }

  &::before,
  &::after {
    content: "";
    height: 20px;
    width: 100%;
  }

  .loader__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    h4 {
      font-size: 18px;
    }

    .loader__modal__animation,
    p {
      color: #ffffff70;
    }

    .loader__modal__animation,
    .loader__modal__animation:after {
      box-sizing: border-box;
    }

    .loader__modal__animation {
      display: inline-block;
      width: 80px;
      height: 80px;
    }

    .loader__modal__animation:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6.4px solid currentColor;
      border-color: currentColor transparent currentColor transparent;
      animation: loader 1.2s linear infinite;
    }
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
