.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  width: 550px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;

  .logo {
    width: 300px;
    max-width: 100%;
    user-select: none;
    margin-bottom: 150px;
    transition: transform 300ms, filter 300ms;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      filter: brightness(1.1);
      -webkit-filter: brightness(1.1);
    }
  }

  .description {
    font-size: 1.2rem;
    line-height: 1.4em;
    text-align: center;
  }

  &::before,
  &::after {
    content: "";
    height: 30px;
    width: 100%;
  }

  .loader__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    h4 {
      font-size: 18px;
      margin: 15px 0 0;
    }

    p {
      color: #ffffff70;
    }

    .loader__modal__animation {
      color: #ffffff70;
      box-sizing: border-box;
      display: inline-block;
      width: 80px;
      height: 80px;

      &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6.4px solid currentColor;
        border-color: currentColor transparent currentColor transparent;
        animation: loader 1.2s linear infinite;
        box-sizing: border-box;
      }
    }
  }

  .home__layout {
    display: grid;
    grid-template-columns: 300px 500px 300px;
    gap: 30px;

    .home__layout__column {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .home__content {
      position: relative;
      width: 100%;
    }
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .home {
    .home__layout {
      grid-template-columns: 1fr;
    }
  }
}
