.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  width: 550px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;

  .logo {
    width: 300px;
    max-width: 100%;
    user-select: none;
    margin-bottom: 150px;
    transition: transform 300ms, filter 300ms;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      filter: brightness(1.1);
      -webkit-filter: brightness(1.1);
    }
  }

  .description {
    font-size: 1.2rem;
    line-height: 1.4em;
    text-align: center;
  }

  &::before,
  &::after {
    content: "";
    height: 30px;
    width: 100%;
  }

  .home__layout {
    display: grid;
    grid-template-columns: 300px 500px 300px;
    gap: 30px;

    .home__layout__column {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .home__content {
      position: relative;
      width: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .home {
    .home__layout {
      grid-template-columns: 1fr;
    }
  }
}
