.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modal-overlay-fade-in 300ms;
  }

  .modal__content {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    border-radius: 16px;
    padding: 20px;
    width: 500px;
    max-width: 100%;
    margin: 20px;
    z-index: 101;
    box-shadow: 0 5px 13px #0003;
    animation: modal-content-fade-in 300ms;

    .modal__content__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      user-select: none;

      .modal__content__header__title {
        font-size: 18px;
        margin: 0 0 15px;
      }

      .modal__content__header__close {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;

        svg {
          fill: #fff;
          width: 16px;
          height: 16px;
        }

        &:hover {
          svg {
            opacity: 0.8;
          }
        }
      }
    }

    .modal__content__footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      margin: 15px 0 0;
    }
  }
}

@keyframes modal-overlay-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-content-fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
