.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  outline: 0;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  text-transform: uppercase;
  user-select: none;
  width: 100%;

  &[data-variant="primary"] {
    background-color: #2cb580;
  }

  &[data-size="small"] {
    padding: 10px 16px 14px;
    font-size: 12px;
  }

  &:hover:not(:disabled),
  &:active {
    cursor: pointer;
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }

  &:active {
    transform: scale(0.92);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  svg {
    height: 16px;
    width: 16px;
    fill: #fff;
  }
}
