.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 4px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  height: var(--navbar-height);
  width: 100%;
  display: flex;

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      transform: translateY(20px);
      height: 80px;
      user-select: none;
      transition: transform 300ms, filter 300ms;

      &:hover {
        cursor: pointer;
        transform: translateY(20px) scale(1.05);
        filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
      }
    }
  }

  &__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 20px;

    // button {
    //   padding: 10px 24px 14px !important;
    // }
  }

  &__user {
    background: #4a8ef4 !important;
    width: calc(var(--sidebar-width) * 3);
    height: calc(var(--navbar-height) + 15px);
    z-index: 10;
    padding: 0 20px !important;
    border-radius: 0 0 4px 0 !important;
    transform: translate(-2px, -2px);
    display: flex;
    align-items: center;

    &__badge {
      position: relative;
      z-index: 2;

      img {
        height: 46px;
      }

      p {
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-size: 18px;
        font-weight: 800;
        text-shadow: 1px 1px 2px #000;
      }
    }

    &__info {
      width: 100%;

      h4 {
        font-weight: 500;
        font-size: 15px;
        text-shadow: 1px 1px 2px #000;
        margin: 0 0 4px 3px;
        transform: translateY(-2px);
      }

      &__level {
        position: relative;
        z-index: 1;
        width: calc(100% + 24px);
        height: 14px;
        border-radius: 4px;
        background-color: #2b2b2b !important;
        border: 1px solid #333;
        padding: 0 !important;
        transform: translateX(-24px);

        &::after {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    margin-bottom: 20px;

    &__logo {
      position: initial;

      img {
        transform: none;
        height: 42px;
      }
    }
  }
}
